   PORT=5000
   MONGO_URI=mongodb://localhost:27017/athelik
   JWT_SECRET=your-super-secret-jwt-key
   EMAIL_USER=shehzadali.6714349@gmail.com
   EMAIL_PASS=koqb gdpq uouj gygq
   # Cloudinary Configuration (for image uploads)
CLOUDINARY_CLOUD_NAME=dpkw6kds3
CLOUDINARY_API_KEY=831154983249546
CLOUDINARY_API_SECRET=R0Ie965ml2XSqPNR8tS3s_jZFUk

